@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poetsen+One&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

*{
  color: var(--dark);
  font-family: 'Reddit Mono', monospace;
  font-family: "Poetsen One", sans-serif;
  font-family: "Kanit", sans-serif;
  color: white;
  font-family: "Reddit Mono", monospace;
  
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark: #2f2f30;
  --purple: #7a25f0;
  --hover-purple: #8e3cf1;
  --normal-margin: 15%;
  --color-light: whitesmoke;
  --yellow:#dcff00;
}

a{
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.list-group-item p{
  color: var(--dark);
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--dark);
  
}

#root{
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn-normal{
  background-color: var(--purple);
  border-radius: 10px;
  border: 1px solid var(--purple);
  padding: 7px 20px;
  font-weight: bold;
  height: fit-content;
}

.btn-normal:hover, .nav-login:hover{
  background-color: var(--hover-purple);
  border-color: var(--hover-purple);
  -webkit-box-shadow: 0px 0px 34px -10px var(--hover-purple);
  -moz-box-shadow: 0px 0px 34px -10px var(--hover-purple);
  box-shadow: 0px 0px 34px -10px var(--hover-purple);

}

.nav-register:hover{
  border-color: var(--hover-purple);
  -webkit-box-shadow: 0px 0px 34px -10px var(--hover-purple);
  -moz-box-shadow: 0px 0px 34px -10px var(--hover-purple);
  box-shadow: 0px 0px 34px -10px var(--hover-purple);
}

.location{
  width: 350px;
  height: 470px;
  padding: 20px;
  background-color: transparent;
  border: 1px solid var(--purple);
}

.location:hover{
  -moz-transition: all .18s ease-in-out;
  -webkit-transition: all .18s ease-in-out;
  -o-transition: all .18s ease-in-out;
  transition: all .18s ease-in-out;
  background-color: var(--purple);
  -webkit-box-shadow: 0px 0px 45px 10px var(--hover-purple);
  -moz-box-shadow: 0px 0px 45px 10px var(--hover-purple);
  box-shadow: 0px 0px 60px 8px var(--hover-purple);
}

.location:hover *{
  color: var(--dark) !important;

}

.card-body{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  overflow-x: hidden;
}

.rating{
  display: flex;
  flex-direction: column;
}

.rating .big{
  font-size: 5.3rem;
  font-weight: 600;
  line-height: 1;
}

.rating .small{
  font-size: 1.6rem;
  font-weight: 500;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  margin: 0 var(--normal-margin) 0 var(--normal-margin);
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar::after{
  
  content: '';
  background-color: transparent;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  
}

.no-after::after{
  height: 0 !important;
}

.name-location{
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  font-size: 2.2rem;
}

.icon{
  margin-left: 10px;
}

.icon *{
  color: white;
}


nav .nav-link {
  margin: 0;
  padding: 0;
  color: white !important;
}

.nav-item{
  position: relative;
  height: fit-content;
}

.filterOptions{
  align-items: center;
  gap: 20px;
}

.nav-item::after {
  width: 0;
  background-color: white;
  height: 2px;
  content: '';
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out; 
  z-index: 2;
}

.nav-item:hover::after {
  width: 100%;
}

.search-button-non-primary{
  background-color: #404040;
  color: white;
  border-color: #404040;
  padding: 7px 20px;
  font-weight: 600;
  margin-right: 15px;
}

.form-control{
  border-radius: 9999px;
  min-width: 350px;
  max-width: 450px;
  border-color: transparent;
  background-color: transparent;
  border:2px solid white;
  color: var(--color-light);
}

textarea.form-control{
  border-radius: 20px;
}

.form-control option{
  color: var(--dark);
}

.btn-link{
  color: var(--purple);
}

select.form-control::placeholder, input.form-control::placeholder {
  color: var(--color-light);
  opacity: 1; 
}

.container-center{
  margin: auto auto !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 12% !important;
}

.reportDetails p{
  margin: 0;
}

.header-yellow{
  color: var(--yellow);
  font-weight: 700;
  font-size: 4.5rem;
  text-transform: uppercase;
}

select.form-control:focus, .form-group input{
  box-shadow: none;
}

.border-radius-max{
  border-radius: 9999px !important;
}

.title-main{
  font-weight: bold;
  font-size: 4.75rem;
  line-height: 1.04;
  max-width: 700px;
  letter-spacing: -1px;
}

.title-main-lighter{
  font-weight: 600;
  line-height: 1.04;
  max-width: 700px;
  letter-spacing: -1px;
  font-size: 3.5rem;
}

.nav-link{
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.login-item{
  border-radius: 9999px;
  background-color: #1a1a1a;
  color: white;
  
}

.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-item a{
  color: white;
}

.nav-container{
  display: flex;
  gap: 15px;
}

.card-text{
  color: #111;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-top: 20vh;
  gap: 20px;
  background-color: transparent;
  box-shadow: none;
  border-radius: 10px;
  margin: auto 0;
  padding: 0;
  margin-top: 10%;
  margin-left: var(--normal-margin);
  width: fit-content;
}

.nav-register{
  background-color: transparent;
  border-radius: 10px;
  color: var(--purple) !important;
  border: 1px solid var(--purple);
  padding: 7px 10px;
}

.nav-register .nav-link{
  color: var(--purple) !important;

}

.navbar-nav{
  gap: 15px;
  align-items: center;
  height: fit-content;
}


.nav-login{
  background-color: var(--purple);
  border-radius: 10px;
  color: black !important;
  border: 1px solid var(--purple);
  padding: 7px 10px;
}

.nav-login a{
  color: black !important;
}

.form-group label{
  margin-bottom: 7px;
}

.form-group{
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-description{
  max-width: 600px;
}

.navbar-brand{
  margin-right: 50px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.reportList{
  
}

.flex-wrap{
  flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
  .title-main{
    font-size: 3.55rem;
    max-width: 80%;
  }

  .title-main-lighter{
    max-width: 80%;
    flex-wrap: wrap;
    font-size: 3rem;
  }

  .main-description{
    font-size: 1rem;
    max-width: 80%;
  }

  .navbar{
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
  }

  .navbar-brand{
    margin-right: 0;
  }

  .logo-nav{
    justify-content: center;
    align-content: center;
  }

  .navbar-expand-lg .navbar-nav{
    width: 80vw;
    display: flex !important;
    justify-content: center;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
