@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poetsen+One&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

*{
  color: var(--color-text);
  font-family: 'Reddit Mono', monospace;
  font-family: "Poetsen One", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Reddit Mono", monospace;
  font-family: "Montserrat", sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark: #2f2f30;
  --purple: #7a25f0;
  --hover-purple: #8e3cf1;
  --normal-margin: 15%;
  --color-light: whitesmoke;
  --yellow:#dcff00;
  --color-text: #1D2340;
  --background: #FFF0E5;
  --color-main: #1557FF;
  --hover-main: #336dff;
  --green-light:#EAFDC6;
  --blue-light: #D3F2FF;
  --red-light:  #FAA0A0;
}

.sec-font{
  font-family: "Reddit Mono", monospace;
}

a{
  font-weight: 500;
  color: var(--color-text) !important;
  text-decoration: inherit;
}

.font-weight-bold{
  font-weight: bold;
}

.d-space{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hover-link{
  font-weight: 600;
  display: flex;
  gap: 7px;
  transition: gap .3s ease;
}

.hover-link:hover{
  gap: 13px;
}

.list-group-item p{
  color: var(--color-text);
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  overflow-x: hidden !important;
}

#root{
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn-normal{
  background-color: var(--color-main);
  border-radius: 5px;
  border: 1px solid var(--color-main);
  padding: 7px 20px;
  font-weight: bold;
  height: fit-content;
}

.desc-element{
  background-color: #1a1a1a;
  color: var(--background);
  max-width: 300px;
  padding: 10px;
  font-size: 14px;
  font-weight: 800;
  display: flex;
  margin-bottom: 20px;
  position: relative;
  min-height: 20px;
}

.main-description{
  max-width: 450px;
  font-weight: 500;
}

.box-round-container {
    border-radius: 20px;
    padding: 30px 40px;
    border: 1px solid var(--color-text);
    position: relative;
    background-color: var(--background);
    -webkit-box-shadow: -16px 16px 0px 0px var(--color-text);
    -moz-box-shadow: -16px 16px 0px 0px var(--color-text);
    box-shadow: -16px 16px 0px 0px var(--color-text);
}

.box-container-target {
  border-radius: 20px;
  padding: 30px 40px;
  position: relative;
  background-color: var(--background);
  width: 100%;
  overflow: hidden;
}

.title-h2{
  font-weight: bold !important;
  text-transform: capitalize !important;
}

.info-bottom{
  position: absolute;
  bottom: -75px;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  padding-left: var(--normal-margin);
  padding-right: var(--normal-margin);
}

.info-bottom-container{
  justify-content: space-around;
  border: 1px solid var(--color-text);
  background-color: var(--background);
  width: 100%;
  min-height: 150px;
}

.info-bottom-box *{
  font-family: "Reddit Mono", monospace;
}

.background-blue-light{
  background-color: var(--blue-light);
}

.background-green-light{
  background-color: var(--green-light);
}

.background-red-light{
  background-color: var(--red-light);
}

.plus-cont{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.plus-cont *{
  font-size: 16px;
}

.desc-element *{
  color: var(--background);
}

.desc-element p{
  margin: 0;
}

.btn-normal:hover, .nav-login:hover{
  background-color: var(--hover-main);
  border-color: var(--hover-main);
  -webkit-box-shadow: 0px 0px 34px -10px var(--hover-main);
  -moz-box-shadow: 0px 0px 34px -10px var(--hover-main);
  box-shadow: 0px 0px 34px -10px var(--hover-main);

}

.nav-register:hover{
  border-color: var(--hover-main);
  -webkit-box-shadow: 0px 0px 34px -10px var(--hover-main);
  -moz-box-shadow: 0px 0px 34px -10px var(--hover-main);
  box-shadow: 0px 0px 34px -10px var(--hover-main);
}

.location{
  width: 300px;
  height: 340px;
  background-color: transparent;
  border: 1px solid var(--color-text);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.location:hover{
  -webkit-box-shadow: -10px 10px 0px 0px var(--color-text);
  -moz-box-shadow: -10px 10px 0px 0px var(--color-text);
  box-shadow: -10px 10px 0px 0px var(--color-text);
  transform: translate(5px, -10px);

}

.bottom-data{

}

.actuality{
  padding: 7px 10px;
  border-radius: 5px 5px 0 0 ;
}

.bottom-data{
  padding-left: 10px;
  padding-right: 10px;
}

.bottom-data .btm{
  border-top: 1px dashed var(--color-text);
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex !important;
  flex-wrap: nowrap;
  flex-direction: column;
}

.card-body{

  max-width: 450px;
}

.card-body *{
  color: var(--color-text) !important;
}

.bottom-data *{
  font-size: .9rem;
}

.card-body h3{
  font-size: 2.5rem;
}

.bigger{
  font-size: 2.5rem;
}

.smaller{
  font-size:1.2rem;
}

.rating{
  display: flex;
  flex-direction: column;
}

.rating .big{
  font-size: 5.3rem;
  font-weight: 600;
  line-height: 1;
}

.rating .small{
  font-size: 1.6rem;
  font-weight: 500;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  margin: 0 var(--normal-margin) 0 var(--normal-margin);
  padding-top: 20px;
  padding-bottom: 20px;
}

.open-nav{
  position: fixed;
  top: 0;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

@media only screen and (min-width: 800px) {
  .navbar-mobile{
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .navbar{
    display: none;
  }

  /*
  .navbar-mobile{
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
  }*/
  /*.hamburger-react {*/
  /*  align-self: end;*/
  /*}*/
}
.navbar::after{
  
  content: '';
  background-color: transparent;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  
}

.no-after::after{
  height: 0 !important;
}

.name-location{
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.6rem !important;
  color: var(--color-text) !important;
}

.icon{
  width: fit-content;
}

.title-main{
  font-size: 2rem !important;
}


nav .nav-link {
  margin: 0;
  padding: 0;
  color: var(--color-text) !important;
}

.nav-item{
  position: relative;
  height: fit-content;
}

.filterOptions{

}

.nav-item::after {
  width: 0;
  background-color: var(--color-text);
  height: 2px;
  content: '';
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out; 
  z-index: 2;
}

.nav-item:hover::after {
  width: 100%;
}

.search-button-non-primary{
  background-color: #404040;
  color: white;
  border-color: #404040;
  padding: 7px 20px;
  font-weight: 600;
  margin-right: 15px;
}

.form-control{
  border-radius: 5px;
  min-width: 350px;
  max-width: 450px;
  background-color: white;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  padding: 15px 15px;
}

.form-control:focus{
  border-radius: 5px;
  background-color: white;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  padding: 15px 15px;
}

textarea.form-control{
  border-radius: 5px;
}

.container{
  max-width: 1500px !important;
}

.form-control option{
  color: var(--dark);
}

.container-normal{
  padding-left: var(--normal-margin);
  padding-right: var(--normal-margin);
  text-align: left;
  padding-top: 5%;
  position: relative;
  padding-bottom: 5%;
  overflow-x: hidden;
}


.btn-link{
  color: var(--purple);
}

select.form-control::placeholder, input.form-control::placeholder {
  color: var(--color-text);
  opacity: 1; 
}

.container-center{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: var(--normal-margin);
  padding-right: var(--normal-margin);
  text-align: left;
  padding-top: 7%;
  padding-bottom: 7%;
  position: relative;
}

.dotted-back{
  background-image: radial-gradient(circle at .5px .5px, black .5px, transparent 0);
  background-size: 4px 4px;
}

.reportDetails p{
  margin: 0;
}

.header-yellow{
  color: var(--yellow);
  font-weight: 700;
  font-size: 4.5rem;
  text-transform: uppercase;
}

select.form-control:focus, .form-group input{
  box-shadow: none;
}

.border-radius-max{
  border-radius: 9999px !important;
}

.title-main{
  font-weight: bold;
  font-size: 44px;
  line-height: 1.04;
  max-width: 700px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.title-main-lighter{
  font-weight: 600;
  line-height: 1.04;
  max-width: 700px;
  letter-spacing: -1px;
  font-size: 2.8rem;
}

.targetList{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.color-white{
  color: var(--background) !important;
}

.author-top{
  background-color: var(--color-text);
  width: fit-content;
  padding: 5px 10px;
  color: var(--background);
  font-size: .9rem;
  margin-bottom: 15px;
}

#search{

}

.nav-link{
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.login-item{
  border-radius: 9999px;
  background-color: #1a1a1a;
  color: white;
  
}

.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-item a{
  color: white;
}

.nav-container{
  display: flex;
  gap: 15px;
}

.card-text{
  color: #111;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
  background-color: transparent;
  box-shadow: none;
  border-radius: 5px;
  padding: 5%;
  padding-left: var(--normal-margin);
  width: fit-content;
  margin: 0;
}

.search-btn{
  min-width: 450px;
}

.nav-register{
  background-color: transparent;
  border-radius: 5px;
  color: var(--color-main) !important;
  border: 1px solid var(--purple);
  padding: 7px 10px;
}

.nav-register .nav-link{
  color: var(--purple) !important;
}

.navbar-nav{
  gap: 15px;
  align-items: center;
  height: fit-content;
}


.nav-login{
  background-color: var(--color-main);
  border-radius: 5px;
  color: var(--color-text) !important;
  border: 1px solid var(--color-main);
  padding: 7px 10px;
}

.nav-login a{
  color: var(--background) !important;
}

.form-group label{
  margin-bottom: 7px;
}

.form-group{
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-brand{
  margin-right: 50px;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.reportList{
  
}

.flex-wrap{
  flex-wrap: wrap;
}

.margin-bottom{
  margin-bottom: 20px;
}

.target{
  background-color: transparent;
  border: 1px solid white;
}

.target:hover{
  -moz-transition: all .18s ease-in-out;
  -webkit-transition: all .18s ease-in-out;
  -o-transition: all .18s ease-in-out;
  transition: all .18s ease-in-out;
  background-color: white;
  -webkit-box-shadow: 0px 0px 45px 10px var(--hover-purple);
  -moz-box-shadow: 0px 0px 45px 10px var(--hover-purple);
  box-shadow: 0px 0px 60px 8px whitesmoke;
}

.target:hover .card-text, .target:hover h3{
  color: var(--dark) !important;
}

.target *{
  color: whitesmoke;
}

.card-body h3{
  color: white;
}

.ReportView{

}

.footer{
  width: calc(100%);
  background-color: white;
  bottom: 0;
  color: var(--dark);
  text-align: center;
  padding: 20px;
  left: 0;
  margin-top: 10%;
}

.color-rev{
  filter: invert(100%);
}


@media only screen and (max-width: 800px) {
  .container, .container-normal{
    padding-left: 5%;
  }

  .box-round-container{
    padding: 15px;
  }

  .title-main{
    font-size: 3.55rem;
    max-width: 80%;
  }

  .title-main-lighter{
    max-width: 80%;
    flex-wrap: wrap;
    font-size: 2.5rem;
  }

  .form-control{
    max-width: 300px;

  }

  .search-btn{
    max-width: 350px !important;
    width: 350px !important;
    min-width: 0;
  }

  .main-description{
    font-size: .86rem;
    max-width: 100%;

  }

  .navbar{
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
  }

  .navbar-brand{
    margin-right: 0;
  }

  .logo-nav{
    justify-content: center;
    align-content: center;
  }

  .navbar-expand-lg .navbar-nav{
    width: 80vw;
    display: flex !important;
    justify-content: center;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
